/* Card styling */
.card {
    -fx-background-color: linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius: 5px;
}

/* TableView styling */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #005f82);
    -fx-border-radius: 2px;
    -fx-padding: 0px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #005f82);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 5px 5px 0px 0px;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

/* TextField styling */
.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #005f82);
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

